@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
html,
body,
.root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#navbar {
	position: fixed;
	top: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	background-color: white;
}
#navbar-content {
	width: 100%;
	max-width: 1080px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	margin: 0 auto;
}

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1080px;
	margin: 100px auto 0 auto;
	padding: 1rem;
}

/* TYPOGRAPHY */
html {
	font-family: 'Roboto';
	font-size: 12px;
}
@media screen and (min-width: 320px) {
	html {
		font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1080 - 320)));
	}
}
@media screen and (min-width: 1080px) {
	html {
		font-size: 20px;
	}
}

h1 {
	font-size: 2rem;
}

/* CARDS */
.card {
	flex-grow: none;
	box-sizing: border-box;
	width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: center;
	word-wrap: normal;
	padding: 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
	width: 200px;
	height: 200px;
	margin: auto;
}
.card-body {
	margin: 0;
}
.card-title {
	text-align: center;
}
.no-shadow {
	box-shadow: none;
}
.hover:hover {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* FLEX BOX*/
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-center {
	justify-content: center;
}
.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}

.snapscroll {
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	gap: 1rem;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none;
}
.snapscroll::-webkit-scrollbar {
	display: none;
}

@media only screen and (min-width: 1080px) {
	.snapscroll {
		flex-wrap: wrap;
	}
}

/* BUTTON  */
.btn {
	background-color: #04bf5590;
	padding: 0.75em 2em;
	text-decoration: none;
	color: black;
	font-size: 1rem;
	border-radius: 0.25rem;
}
.btn:hover {
	background-color: #04bf55;
}

/* DROPDOWN */
.drop {
	border: none;
	border-bottom: black solid 2px;
	width: 100%;
	margin-top: 1em;
	padding: 4px;
	font-size: 1rem;
}

/* INDICATOR */
#riskVisual > svg {
	width: 100%;
}

/* SECTIONS */
section {
	margin-top: 4rem;
}

#header {
	align-items: center;
}

#logo {
	display: flex;
	align-items: center;
	margin: 1em 0 0 1em;
	padding: 0;
}

#navbar-btn {
	margin-right: 1rem;
}
#navbar-btn:hover {
	cursor: pointer;
}

#risks {
	padding-right: 0;
}

.center-text {
	text-align: center;
}

#more {
	margin-top: 8rem;
	margin-bottom: 4rem;
}
#more > p {
	padding: 0.25rem;
}
#more > p:hover {
	border-bottom: solid 1px;
	cursor: pointer;
}
#logo {
	cursor: default;
}
