@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#root {
	min-width: 320px;
	max-width: 1081px;
	margin: 0 auto;
}

/* TYPOGRAPHY */
html {
	font-family: 'Roboto';
	font-size: 12px;
}
@media screen and (min-width: 320px) {
	html {
		font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1080 - 320)));
	}
}
@media screen and (min-width: 1080px) {
	html {
		font-size: 20px;
	}
}

h1 {
	font-size: 2rem;
}

/* FLEX BOX*/
.flex {
	display: flex;
	flex-wrap: wrap;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.space-between {
	justify-content: space-between;
}

/* CARDS */
.card {
	flex-direction: column;
	scroll-snap-align: center;
	word-wrap: normal;
}
.snapscroll {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	gap: 1rem;

	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none;
}
.snapscroll::-webkit-scrollbar {
	display: none;
}

/* BUTTON  */
.btn {
	background-color: #04bf55;
	padding: 0.75em 2em;
	text-decoration: none;
	color: black;
	font-size: 1rem;
}

/* DROPDOWN */
.drop {
	border: none;
	border-bottom: black solid 2px;
	width: 100%;
	margin-top: 1em;
	padding: 4px;
	font-size: 1rem;
}

/* sections*/
section {
	padding: 16px;
}

#navbar {
	min-height: 64px;
	padding: 1rem;
	margin-bottom: 48px;
}

#logo {
	display: flex;
	align-items: center;
	margin: 1em 0 0 0;
	padding: 0;
}
